openapi: 3.2.0
info:
  title: Interpublic Group WordPress REST Root API
  version: root
  summary: The live WordPress REST API served by the Interpublic Group corporate website.
  description: Derived verbatim from the route-discovery document the Interpublic Group web server publishes at https://interpublic.com/wp-json/ (fetched 2026-08-12, HTTP 200).
  x-derived-from: https://interpublic.com/wp-json/
  x-derived-on: '2026-08-12'
  x-apievangelist-method: derived
servers:
- url: https://interpublic.com
  description: Production origin (apex host; www 301s to omc.com)
tags:
- name: Root
  description: REST API index / namespace discovery.
paths:
  /wp-json/:
    get:
      operationId: getWpJsonIndex
      summary: GET /
      description: WordPress REST API route `/` in namespace `root`, as advertised by the live route-discovery document at https://interpublic.com/wp-json/.
      tags:
      - Root
      parameters:
      - name: context
        in: query
        schema:
          default: view
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/batch/v1:
    post:
      operationId: createBatchV1
      summary: POST /batch/v1
      description: WordPress REST API route `/batch/v1` in namespace `root`, as advertised by the live route-discovery document at https://interpublic.com/wp-json/.
      tags:
      - Root
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - requests
              properties:
                validation:
                  type: string
                  enum:
                  - require-all-validate
                  - normal
                  default: normal
                requests:
                  type: array
                  items:
                    type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
components:
  schemas:
    WPError:
      type: object
      description: The WordPress REST API error envelope, observed verbatim on live 401/404 responses from this host. Not RFC 9457 problem+json.
      properties:
        code:
          type: string
          examples:
          - rest_forbidden
          - rest_no_route
          - rest_user_cannot_view
        message:
          type: string
          examples:
          - Sorry, you are not allowed to do that.
        data:
          type: object
          properties:
            status:
              type: integer
              examples:
              - 401
