openapi: 3.2.0
info:
  title: Interpublic Group WordPress REST Oembed/1.0 API
  version: oembed/1.0
  summary: The live WordPress REST API served by the Interpublic Group corporate website.
  description: Derived verbatim from the route-discovery document the Interpublic Group web server publishes at https://interpublic.com/wp-json/ (fetched 2026-08-12, HTTP 200).
  x-derived-from: https://interpublic.com/wp-json/
  x-derived-on: '2026-08-12'
  x-apievangelist-method: derived
servers:
- url: https://interpublic.com
  description: Production origin (apex host; www 301s to omc.com)
tags:
- name: oembed/1.0
  description: oEmbed discovery and proxy endpoints.
paths:
  /wp-json/oembed/1.0:
    get:
      operationId: getOembed10
      summary: GET /oembed/1.0
      description: WordPress REST API route `/oembed/1.0` in namespace `oembed/1.0`, as advertised by the live route-discovery document at https://interpublic.com/wp-json/.
      tags:
      - oembed/1.0
      parameters:
      - name: namespace
        in: query
        schema:
          default: oembed/1.0
      - name: context
        in: query
        schema:
          default: view
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/oembed/1.0/embed:
    get:
      operationId: getOembed10Embed
      summary: GET /oembed/1.0/embed
      description: WordPress REST API route `/oembed/1.0/embed` in namespace `oembed/1.0`, as advertised by the live route-discovery document at https://interpublic.com/wp-json/.
      tags:
      - oembed/1.0
      parameters:
      - name: url
        in: query
        schema:
          type: string
        required: true
        description: The URL of the resource for which to fetch oEmbed data.
      - name: format
        in: query
        schema:
          default: json
      - name: maxwidth
        in: query
        schema:
          default: 600
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/oembed/1.0/proxy:
    get:
      operationId: getOembed10Proxy
      summary: GET /oembed/1.0/proxy
      description: WordPress REST API route `/oembed/1.0/proxy` in namespace `oembed/1.0`, as advertised by the live route-discovery document at https://interpublic.com/wp-json/.
      tags:
      - oembed/1.0
      parameters:
      - name: url
        in: query
        schema:
          type: string
        required: true
        description: The URL of the resource for which to fetch oEmbed data.
      - name: format
        in: query
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
        description: The oEmbed format to use.
      - name: maxwidth
        in: query
        schema:
          type: integer
          default: 600
        description: The maximum width of the embed frame in pixels.
      - name: maxheight
        in: query
        schema:
          type: integer
        description: The maximum height of the embed frame in pixels.
      - name: discover
        in: query
        schema:
          type: boolean
          default: true
        description: Whether to perform an oEmbed discovery request for unsanctioned providers.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
components:
  schemas:
    WPError:
      type: object
      description: The WordPress REST API error envelope, observed verbatim on live 401/404 responses from this host. Not RFC 9457 problem+json.
      properties:
        code:
          type: string
          examples:
          - rest_forbidden
          - rest_no_route
          - rest_user_cannot_view
        message:
          type: string
          examples:
          - Sorry, you are not allowed to do that.
        data:
          type: object
          properties:
            status:
              type: integer
              examples:
              - 401
